.Header
{
    background-color: rgb(40, 36, 36);

.head {
    margin: 0 auto;
    width: 80%;
    
    height: 40px; 
    display: flex;
    justify-content: space-between; 
    padding: 0 20px; 
  
    .contact-info {
      display: flex;
      gap: 20px;
  
      span {
        color: aliceblue;
        font-size: 12px;
        display: flex;
        align-items: center; 
        
        img {
          margin-right: 5px; 
        }
      }
    }
  
    .social {
      display: flex;
      align-items: center;
      gap: 10px;
  
      span {
        display: flex;
        align-items: center;
        
        img {
          width: 20px; 
          height: 20px;
        }
      }
    }
  }

  @media (max-width: 500px) {
    .head {
      padding: 0 10px; /* Reduce padding for smaller screens */
      gap: 10px; /* Add gap between contact-info and social */

      .contact-info {
        gap: 10px; /* Reduce gap between contact items */
        
        span {
          font-size: 10px; /* Adjust font size for smaller screens */
          
          img {
            width: 15px; /* Reduce icon size */
            height: 15px;
            margin-right: 3px; /* Reduce space between icon and text */
          }
        }
      }

      .social {
        gap: 5px; /* Reduce gap between social icons */

        img {
          width: 15px; /* Adjust icon size */
          height: 15px;
        }
      }
    }
  }
}
 
