.Header
{
    background-color: rgb(40, 36, 36);

.head {
    margin: 0 auto;
    width: 80%;
    // background-color: rgb(40, 36, 36);
    height: 40px; /* Adjusted height to fit content */
    display: flex;
    justify-content: space-between; /* Align items at the ends */
    align-items: center;
    padding: 0 20px; /* Added padding for spacing */
  
    .contact-info {
      display: flex;
      gap: 20px;
  
      span {
        color: aliceblue;
        font-size: 12px;
        display: flex;
        align-items: center; /* Center items vertically */
        
        img {
          margin-right: 5px; /* Space between icon and text */
        }
      }
    }
  
    .social {
      display: flex;
      align-items: center;
      gap: 10px;
  
      span {
        display: flex;
        align-items: center;
        
        img {
          width: 20px; /* Adjust icon size */
          height: 20px;
        }
      }
    }
  }
}